<div class="container">
    <div>
        <button type="button" class="btn btn-dark btn-sm" (click)="onAddNewStock()">
            <i class="bi bi-cloud-plus"></i>&nbsp;Add Stock to
            Portfolio</button><br><br>
    </div>
    <div>
        <button type="button" class="btn btn-info btn-sm" *ngIf="isShowCompareBtn" (click)="onCompare()"><i
                class="bi bi-arrow-left-right"></i>&nbsp;Compare</button><br /><br>
    </div>
    <table class="table-main">
        <thead>
            <tr>
                <th class="table-header" scope="col" *ngFor="let column of gridColumns">
                    <label style="cursor: pointer;" onmouseover="this.style.textDecoration='underline';"
                        onmouseout="this.style.textDecoration='none';"
                        (click)="sortColumn(column)">{{column.displayName}}</label>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th><input type="text" id="txtSymbol" (keyup)="onSearchKeyUp($event,'stockSymbol')">
                </th>
                <th><input type="text" id="txtCompanyName" (keyup)="onSearchKeyUp($event,'companyName')"></th>
                <th><input type="text" id="txtIndustry" (keyup)="onSearchKeyUp($event,'industry')">
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody class="body-text">
            <tr *ngFor="let stock of stocks">
                <td class="table-cells" scope="row"><input type="checkbox" (click)="onSelectRow(stock.stockID,$event)">
                </td>
                <td class="table-cells" scope="row">{{stock.stockSymbol}}</td>
                <td class="table-cells" scope="row">{{stock.companyName}}</td>
                <td class="table-cells" scope="row">{{stock.industry}}</td>
                <td class="table-cells" scope="row">{{stock.quantity}}</td>
                <td class="table-cells" scope="row">
                    <span><button type="button" title="View Fundamental Details" class="btn btn-dark btn-sm"
                            (click)="onViewReport(stock.stockID)"><i
                                class="bi bi-zoom-in"></i></button>&nbsp;&nbsp;<button type="button"
                            class="btn btn-dark btn-sm" title="Upload Data For Stock"
                            (click)="onUploadData(stock.stockID, stock.stockSymbol)"><i
                                class="bi bi-cloud-arrow-up-fill"></i></button>&nbsp;&nbsp;<button type="button"
                            title="Edit Stock Details" class="btn btn-dark btn-sm" (click)="onEdit(stock.stockID)"><i
                                class="bi bi-pencil-square"></i></button>&nbsp;&nbsp;<button type="button"
                            class="btn btn-dark btn-sm" title="Delete Stock" (click)="onDelete(stock.stockID)"><i
                                class="bi bi-trash-fill"></i></button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tr>
            <td colspan="5">
                <table>
                    <tr>
                        <td *ngFor="let pageNo of arrPageNos">
                            <button class="btn btn-xs" (click)="Paginate(pageNo,$event);">{{pageNo}}</button>
                            <!-- <div class="table-pagination" *ngFor="let pageNo of arrPageNos">
                                <a href="#" onclick="return false" id=pageNo
                                    (click)="Paginate(pageNo,$event);">{{pageNo}}</a>
                            </div> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


<!-- ---------------------------------Modals---------------------------------------------- -->
<div id="uploadModal" class="modal-component" *ngIf="isShowUploadModal">
    <div style="background-color: #fefefe;padding: 20px; border: 1px solid #888;width: 80%;margin: auto;">
        <label class="close-modal" (click)="closeModal()">&times;</label>
        <app-excel-upload [StockID]="selectedStockID" [StockSymbol]="selectedStockSymbol"></app-excel-upload>
    </div>
</div>


<div id="stockAddEditModal" class="modal-component" *ngIf="isShowStockEditModal">
    <div style="background-color: #fefefe;padding: 20px; border: 1px solid #888;width: 80%;margin: auto;">
        <app-stock-entry [stockID]="selectedStockID" (onCloseComponent)="closeStockEntry()"></app-stock-entry>
    </div>
</div>