<div>
    <div class="row">
        <div class="col-sm-5">
            <form (ngSubmit)="OnSave()" #stockForm="ngForm" autocomplete="off">
                <div class="form-group">
                    <label for="txtStockName">Stock Symbol</label>
                    <input type="text" class="form-control" id="txtStockSymbol" name="txtStockSymbol" required ngModel>
                </div>
                <div class="form-group">
                    <label for="txtStockName">Company Name</label>
                    <input type="text" class="form-control" id="txtCompanyName" name="txtCompanyName" required ngModel>
                </div>
                <div class="form-group">
                    <label for="txtStockName">Industry Description</label>
                    <input type="text" class="form-control" id="txtIndustry" name="txtIndustry" required ngModel>
                </div>
                <div class="form-group">
                    <label for="numQty">Quantity Owned</label>
                    <input type="number" class="form-control" id="numQty" name="numQty" min="0" required ngModel>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-dark" [disabled]="!stockForm.valid"
                        (click)="OnSave()">Save</button> &nbsp;                    
                    <button type="button" class="btn btn-dark" (click)="onCancel()">Cancel</button>
                </div>
                <div class="form-group" style="display: none;">
                    <input type="hidden" class="form-control" id="txtstockID" name="txtstockID" ngModel>
                </div>
            </form>
        </div>
    </div>
</div>