<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-dark btn-sm" (click)="onAddNewStock()">
                <i class="bi bi-cloud-plus"></i>&nbsp;Add Stock to
                Portfolio</button>
            <br>
            <br>
            <app-stock-portfolio-list></app-stock-portfolio-list>
        </div>
    </div>
</div>