<form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm)">
    <div id="StockSelect">
        <label for="ddlSelect">Select Stock:&nbsp;</label>
        <select id="ddlSelect" (change)="onStockSelectionChange()" name="ddlSelectedStock" [(ngModel)]="selectedStockID"
            ngModel>
            <option value="-1">Choose Stock</option>
            <option *ngFor="let stock of lstStocks" value="{{stock.stockID}}">{{stock.stockSymbol}}</option>
        </select>
    </div>
    <div>
        Upload Type:&nbsp;
        <div class="form-check form-check-inline" *ngFor="let uploadType of uploadTypes">
            <label>
                <input type="radio" name="uploadtype" ngModel [value]="uploadType.value" [(ngModel)]="defaultRadio">
                {{uploadType.text}}
            </label>
        </div>
    </div>
    <div class="custom-file">
        <label for="fileFundamental" class="custom-file-label">{{lblFileUpload}}</label>
        <input type="file" id="fileFundamental" class="custom-file-input" #fileFundamental
            (change)="handleFileInput($event.target.files)">
        <br /><br />
        <button type="submit" class="btn btn-dark btn-sm"
            [disabled]="(!IsFileSelected && selectedStockID<0)">Upload</button> &nbsp;&nbsp;
    </div>
</form>