<div>
    <label for="ddlSelect">Select Stock:&nbsp;</label>
    <select id="ddlSelect" [(ngModel)]="selectedStock" (change)="handleSelection()">
        <option value="-1">Choose Stock</option>
        <option *ngFor="let stock of lstStocks" value="{{stock.stockID}}">{{stock.stockSymbol}}</option>
    </select>
</div>
<form #uploadForm="ngForm">
    <div class="custom-file">
        <label for="fileFundamental" class="custom-file-label">{{lblFileUpload}}</label>
        <input type="file" id="fileFundamental" class="custom-file-input" #fileFundamental
            (change)="handleFileInput($event.target.files)">
        <br /><br />
        <button type="button" class="btn btn-dark btn-sm" (click)="onUploadClick()"
            [disabled]="(!IsFileSelected && selectedStock<0)">Upload</button> &nbsp;&nbsp;
    </div>
</form>