<!-- <nav class="navbar  navbar-light fixed-top bg-light">
    <a href="#"><img style="width:150px;height:80px;" src="assets/images/brand-logo.png"></a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navBarText" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navBarText" routerLink="/portfolio" routerLinkActive="active">Portfolio Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navBarText" routerLink="/excel-upload" routerLinkActive="active">Import Data</a>
        </li>
    </ul>
</nav> -->
<!-- <nav>
    <a href="#"><img style="width:150px;height:80px;" src="assets/images/brand-logo.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a routerLink="/home" routerLinkActive="active">Home</a> 
    <a routerLink="/portfolio" routerLinkActive="active">Equity Portfolio</a> 
    <a routerLink="/excel-upload" routerLinkActive="active">Import Data</a> 
    <a routerLink="/home" routerLinkActive="active">Debt Portfolio</a> 
    <a routerLink="/home" routerLinkActive="active">Hedge Portfolio</a> 
</nav> -->

<div class="topNavDiv" id="divNavDiv">
    <ul>
        <li class="li-Logo"><a href="#"><img style="widows: 200px;height:50px;" src="assets/images/brand-logo3.png"></a>
        </li>
        <li class="burger-icon"><a href="javascript:void(0);" (click)="onClickMenuItem()">
                <i class="fa fa-bars"></i>
            </a></li>
            <br>
        <li class="li-MenuItems"><button type="button" class="btn btn-info"><i
                    class="bi bi-shield-lock-fill"></i>&nbsp;Login/Signup</button></li>
        <li class="li-MenuItems"><a class="navBarText" routerLink="/home" routerLinkActive="">Hedge Portfolio</a></li>
        <li class="li-MenuItems"><a class="navBarText" routerLink="/home" routerLinkActive="">Debt Portfolio</a></li>
        <li class="li-MenuItems"><a class="navBarText" routerLink="/excel-upload" routerLinkActive="active">Import
                Data</a></li>
        <li class="li-MenuItems"><a class="navBarText" routerLink="/portfolio" routerLinkActive="active">Equity
                Portfolio</a></li>
        <li class="li-MenuItems"><a class="navBarText" routerLink="/home" routerLinkActive="active">Home</a></li>
    </ul>
</div>
