<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="RollingLogFileAppenderError" type="log4net.Appender.FileAppender">
        <file type="log4net.Util.PatternString" value="D:\Projects\PersonalPortfolioManagement\myPortfolio\API\Files\Logs\Error.log" />
        <appendToFile value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <rollingStyle value="Size"/>
        <maximumFileSize value="5MB"/>
        <layout type="log4net.Layout.PatternLayout">
            <!-- <conversionPattern value="%d{hh:mm:ss} %-5p %message%newline" /> -->
            <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss}]-[%-5p]-[%logger.%method(){%line}]-%m%n"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR"/>
            <levelMax value="FATAL"/>
        </filter>
    </appender>
    <appender name="RollingLogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
        <!--Log file path-->
        <file type="log4net.Util.PatternString" value="D:\Projects\PersonalPortfolioManagement\myPortfolio\API\Files\Logs\Debug.log"/>
        <appendToFile value="true"/>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <rollingStyle value="Size"/>
        <!--Maximum size of a log file.If the file size is more than the below value 
      then the old file will be backedup and automatically a new log file will be created.-->
        <maximumFileSize value="5MB"/>
        <!--Maximum number of files that will be backedup-->
        <maxSizeRollBackups value="50"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss}]-[%-5p]-%m%n"/>
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG"/>
        </filter>
    </appender>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
        <bufferSize value="1"/>
        <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <ConnectionStringName value="SqlConn-Full-String-Here"/>
        <commandText value="INSERT INTO [HTSysLog] ([FundID],[LogUserID],[LogDateTime],[ScreenID],[RequestID],[Level],[Message],[Exception],[MethodName]) VALUES (@FundID,@user,@log_date,@screen,@requestid,@log_level,@message, @exception,@methodname)" />
        <commandText value="INSERT INTO [HTSysLog1] ([FundID],[LogUserID],[LogDateTime],[ScreenID],[RequestID],[LevelID],[Message],[Exception]) VALUES (@FundID,@user,@log_date,@screen,@requestid,@log_level,@message, @exception)" />
        <parameter>
            <parameterName value="@FundID"/>
            <dbType value="String"/>
            <size value="100"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{FundID}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@user"/>
            <dbType value="String"/>
            <size value="100"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{Log_User}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@log_date"/>
            <dbType value="DateTime"/>
            <layout type="log4net.Layout.RawTimeStampLayout"/>
        </parameter>
        <parameter>
            <parameterName value="@screen"/>
            <dbType value="String"/>
            <size value="255"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{screen}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@requestid"/>
            <dbType value="String"/>
            <size value="100"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{requestid}"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@log_level"/>
            <dbType value="String"/>
            <size value="50"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%level"/>
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@message"/>
            <dbType value="String"/>
            <size value="4000"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%message"/>
                <!--<conversionPattern value="[%d{ISO8601}]-[%-5p]-[%logger.%method(){%line}]-%message"/>-->
            </layout>
        </parameter>
        <parameter>
            <parameterName value="@exception"/>
            <dbType value="String"/>
            <size value="2000"/>
            <layout type="log4net.Layout.ExceptionLayout"/>
        </parameter>
        <parameter>
            <parameterName value="@methodname"/>
            <dbType value="String"/>
            <size value="500"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="[%logger.%method(){%line}]-%methodname"/>
            </layout>
        </parameter>
    </appender>
    <root>
        <level value="ALL" />
        <appender-ref ref="RollingLogFileAppenderError" />
        <appender-ref ref="RollingLogFileAppenderDebug"/>
        <!-- <appender-ref ref="ADONetAppender"/> -->
    </root>
</log4net>